body {
  background-color: #f5eedc;
}

.control-area {
  display: flex;
  flex-direction: row;
}

#decorate-area {
}

.button-box {
  border: solid;
  width: 13rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: white;
}

#link-area {
}

/* .bottom_fade {
  width: 15rem;
  height: 5rem;
  z-index: 99;
  position: relative;
  bottom: 5rem;
  background: url("./bottom-fade.png") bottom center no-repeat;
} */

#results-area {
  border: solid;
  padding: 1rem;
}

span.time {
  font-size: 0.7rem;
  font-family: sans-serif;
}

.hidden {
  display: none;
}

button.copy {
  background-color: #dd4a48;
}

button.make {
  background-color: #97bfb4;
}

button.make:active {
  background-color: #4f091d;
  color: #f5eedc;
}

button {
  border: solid 0px gainsboro;
  border-radius: 7px;
  padding: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  box-shadow: 5px 5px 10px gainsboro;
}

button:hover {
  filter: brightness(90%);
  color: #f5eedc;
}

div.count-messages {
  font-family: monospace;
  font-size: 0.7rem;
}

button.individual {
  background-color: #90302f;
  color: #97bfb4;
  font-size: 0.6rem;
}
button.individual:hover {
  filter: brightness(100%);
  color: #f5eedc;
  background-color: #521110;
}
